/* ****** General Start ****** */
@import url(//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800);
@import url(//fonts.googleapis.com/css?family=Playfair+Display:200,300,400,500,600,700,800,italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,italic);
body{
	font-family: 'Poppins', Helvetica;
	color: #616161;
}
h1, h2, h3, h4, h5, h6 {
    color: #171c24;
    font-weight: 300;
}
p {
    margin: 0 0 20px 0;
    color: #616161;
    font-size: 15px;
    line-height: 1.8;
}
.playfair-font{
	font-family: 'Playfair Display', serif !important;
}
.roboto-font{
	font-family: Roboto !important;
}

.accent-color{
	/*color: rgb(168, 222, 48) !important;*/
	color: rgb(155, 218, 14) !important
}
.accent-color-pink{
	color: rgb(222, 48, 104) !important;	
}
.white-color{
	color: white;
}
.light-color{
	color: rgb(255, 252, 248) !important;
}
.grey-color{
	color: #73736b;
}
.dark-color{
	color: #31312c;
}
.darker-color{
	color: rgb(10, 10, 10);
}

.bg-light-grey0{
	background-color: #fafafa;
}
.bg-light-grey{
	background-color: #f8f8f8;
}
.bg-light-grey2{
	background-color: #f2f2f2;
}

section, .section{
	padding: 100px 0px;
}

.btn{
	text-transform: uppercase;
    border-radius: 3px;
	border: 0 none;
    font-family: 'Poppins','Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.btn.btn-ioc{
	padding: 20px 30px;
	text-transform: uppercase;
}
.btn.btn-accent{
	background-color: rgb(168, 222, 48);
	color: white;
}
.btn.btn-accent:hover{
	background-color: #88bf10;
	color: rgb(255, 252, 248);
}

.btn.btn-accent-pink{
	background-color: rgb(222, 48, 104);
	color: white;
}
.btn.btn-accent-pink:hover{
	background-color: rgb(28, 28, 28);
	color: white;
}

.btn.btn-banner{
	font-size: 13px;
	border-radius: 55px;
	font-family: Montserrat;
	letter-spacing: 2px;
}
.btn.btn-banner.smaller-btn-banner{
	font-size: 12px !important;
    padding: 15px 20px;
}
.btn.btn-med{
	font-size: 13px;
	font-family: Montserrat;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn.btn-big{
    transition: all .3s cubic-bezier(0, 0, 0.49, 0.8);
    -webkit-transition: all .3s cubic-bezier(0, 0, 0.49, 0.8);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 18px 30px 16px;
}
.btn.btn-small{
	font-size: 13px;
	padding: 10px 15px;
	text-transform: capitalize;
	letter-spacing: 1px;
	border-radius: 0px; 
}
.btn.btn-dark {
    background: #333;
}
@media(min-width: 768px){
	.px-less{
		padding-left: 5px;
		padding-right: 5px;
	}
}
.dark-section{
	/*background-color: #384852;*/
	background-color: #493852;
	color: white;
}
.dark-section p {
    color: rgba(255, 255, 255, 0.97);
}
.title span.accent-color{
	margin-left: 7px;
}
a.dark-color:hover{
	color: #31312c;
}


section .sub-title{
	font-size: 32px;
}
section .title{
	font-size: 18px;
}

section .title-plus-text .sub-title{
	margin-bottom: 18px;
}
section .title-plus-text .title{
	font-size: 54px;
	letter-spacing: -3px;
	line-height: 1em;
}
section .title-plus-text p{
	font-size: 18px;
    font-weight: 300;
    margin-top: 14px;
}

section.title-section{
	padding: 40px 0px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
section.title-section .title{
	font-size: 33px;
	letter-spacing: 1px;
	line-height: 1em;
	font-weight: 600;
	text-transform: uppercase;
}
section.content-section{
	padding: 50px 0px;
}
/* ****** General End ****** */

/* Placeholder change color Start */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c3c3c3 !important;
    font-size: 14px;
    font-weight: 300 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c3c3c3 !important;
    font-size: 14px;
    font-weight: 300 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #c3c3c3 !important;
    font-size: 14px;
    font-weight: 300 !important;
}


/* Placeholder change color End */

/* ****** Layout Start ****** */
	/* ----------- All Device ----------- */
	@media only screen and (min-width: 0px) {
	/* Navbar Start */
		.ioc-navbar{
			border-bottom: 1px solid #e4e4e4;
		}
		.ioc-navbar .navbar-brand img{
			max-height: 60px;
		}
		.ioc-navbar .navbar-nav a.nav-link, .ioc-navbar .navbar-nav .dropdown-item{
			font-weight: 600;
			color: #444;
			text-transform: uppercase;
			letter-spacing: 0.2px;
			padding-left: 0.8rem;
			padding-right: 0.8rem;
			font-size: 13px;

		}

		.ioc-navbar .nav > li > a > i{
			font-size: 20px;
		}
		.ioc-navbar .nav > li > a:hover{
			color: 
		}
	/* Navbar End */


	/* HOME CONTENT START */

		/* Carousel Start */
		#carouselIoc .carousel-item{
			max-height: calc( 100vh - 96px);
		}
		#carouselIoc .carousel-item .sub-title{
			font-size: 55px;
			letter-spacing: -1px;
			text-shadow: 1px 1px 2px #527702;
		}
		#carouselIoc .carousel-item .title{
			font-size: 125px;
			letter-spacing: -7px;
			line-height: 142px;
			text-transform: capitalize;
			text-shadow: 1px 1px 2px #5b4e52;
		}
		#carouselIoc .carousel-item .caption-content{
			font-size: 22px;
			line-height: 38px;
			padding: 0px 5%;
			text-shadow: 1px 1px 2px #5b4e52;
		}
		#carouselIoc .carousel-caption{
		    top: 20%;
		    left: 20%;
		    right: 20%;
		}
		/* Carousel End*/

		/* --------- Check Booking Start --------- */
		.check-booking input, .check-booking select, .check-booking span.select2-container, .check-booking span.select2-container .select2-selection--single{
			font-size: 12px;
			height: 50px !important;
			border-radius: 5px;
			padding-left: 20px;
		}
		.check-booking span.select2-container .select2-selection--single, .check-booking span.select2-container.select2-container--default{
			padding-left: 0px;
		}
		.check-booking span.select2-container .select2-selection--single{
			border: 1px solid #ced4da;

		}
		.check-booking .select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height: 50px;
			text-align: left;
			color: #495057;
		}
		.check-booking .select2-container--default .select2-selection--single .select2-selection__arrow{
			height: 50px;
		}
		.btn-cek-ketersediaan{
			margin-top: 50px;
		}
		/* --------- Check Booking End --------- */

		/* --------- Value Start --------- */
		.value .icon-box .title{
			font-size: 25px;
		    text-transform: uppercase;
		    font-weight: 500;
		    margin-top: 25px;
		    margin-bottom: 18px;
		    transition: all .23s ease-in-out;
		}
		/* --------- Value End --------- */


		/* --------- Villas Start --------- */
		.villas .villa-grid-item{
			position: relative;
		    border-radius: 8px;
		    margin-bottom: 31px;
		    background-color: white;
		}
		.villas .villa-grid-item img{
			border-top-right-radius: 8px;
			border-top-left-radius: 8px; 
		}

		.villas a:hover {
			text-decoration: none !important;	
		}
		.villas a:hover img{
		    -webkit-filter: grayscale(80%);
		    filter: grayscale(80%);
		    transition-duration: 0.8s;
		}
		.villas .villa-grid-item .entryroom-grid-content{
			color: initial;
			text-decoration: none !important;
			padding: 22px;
		}
		.villas a .villa-grid-item .entryroom-grid-content .title{
			font-size: 19px;
		    text-transform: uppercase;
		    font-weight: 600;
		    margin-top: 1em;
		    transition: all .23s ease-in-out;
		    height: 44px;

		}
		.villas a .villa-grid-item .entryroom-grid-content p{
			font-size: 14px;
		    color: #888;
		    padding: 0 10px;
		    /*letter-spacing: 0.2px;*/
		}

		/* Vertical Carousel Start */
		.vertical .carousel-item-next.carousel-item-left,
		.vertical .carousel-item-prev.carousel-item-right {
		    -webkit-transform: translate3d(0, 0, 0);
		            transform: translate3d(0, 0, 0);
		}

		.vertical .carousel-item-next,
		.vertical .active.carousel-item-right {
		    -webkit-transform: translate3d(0, 100%, 0);
		            transform: translate3d(0, 100% 0);
		}

		.vertical .carousel-item-prev,
		.vertical .active.carousel-item-left {
		-webkit-transform: translate3d(0,-100%, 0);
		        transform: translate3d(0,-100%, 0);
		}

		/* Vertical Carousel End*/

		/* --------- Villas End --------- */


		/* --------- Testimonials Start --------- */
		.tc-content{
		    font-size: 19px;
		    font-weight: 100;
		    /*margin: 0;*/
		    padding: 48px 50px 43px 32px;
		    border: 1px solid rgba(211, 211, 211, 0.48);
		    /*text-align: left;
		    position: relative;*/
		}
		.tc-content:before{
			content: "";
		    width: 0;
		    height: 0;
		    position: absolute;
		    left: 57px;
		    bottom: 41px;
		    border-left: 11px solid transparent;
		    border-right: 11px solid transparent;
		    border-top: 14px solid #eaeaea;
		}
		.tc-footer{
			text-align: left;
		    margin-top: 28px;
		    margin-left: 46px;
		}
		.tc-footer .tc-name{
			text-transform: uppercase;
    		font-size: 15px;
    		font-weight: 300;
		}
		/* --------- Testimonials End --------- */

		/* --------- Facilities Start --------- */

		section.facility .sub-title-inside{
			font-size: 32px;
		    color: white !important;
		    text-shadow: 2px 1px #565656;
		    font-weight: 500;
		}

		.facility-list .col-facility {
			margin-top: 40px;
		}
		.facility-list i{
			color: rgb(168, 222, 48) !important;
			font-size: 28px;
			margin-bottom: 20px;
		}
		.content-title{
			text-transform: uppercase;
    		font-size: 15px;
    		font-weight: 500;
		}
		.content{
			font-weight: 200;
			font-size: 14px;
		}
		.facility-content .facility-include{
			font-size: 13.5px;
			line-height: 16px;
		}
		.facility-content .facility-description, .facility-content .facility-description *{
			font-size: 16px !important;
		}

		/* --------- Facilities End --------- */

		/* --------- Latest News Start --------- */
		.news-category{
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 500;
		}
		.news-separator{
		    width: 25px;
		    margin-left: 0px;
		    border: 1px solid rgb(155, 218, 14);
		    margin-top: 2rem;
    		margin-bottom: 2rem;
		}
		p.news-release-date{
			margin-top: 3rem;
			font-size: 12px !important;
			text-transform: uppercase;
			font-weight: 400;
			text-align: right;
			margin-bottom: 0px;

		}
		/* --------- Latest News End --------- */

	/* HOME CONTENT END */

	/* --------- Page Facility Detail Start---------*/

		.facility-content *{
			font-weight: 300;
			font-size: 15px;
		}
		.facility-content h4 > p{
			margin: 0px;
			color: unset;
			line-height: unset;
		}
		.facility-detail .detail-title{
			font-size: 16px;
			margin-bottom: 1em;
			font-weight: 500;
		}
		.ul-facility-detail{
			font-size: 14px;
			list-style: none;
			padding-left: 0px;
			color: #73736b;
		}
		.ul-facility-detail li{
			padding-bottom: 8px;
		}
		.ul-facility-detail li i{
			font-size: 16px;
			width: 26px;
			text-align: center;
		}
		.facility-price p{
			color: black;
		}
		.facility-price span.strong{
			font-weight: 500;
		}

	/* --------- Page Facility Detail End---------*/

	/* --------- Page Booking List Start---------*/
		.booking-list .facility-name{
			font-size: 19px;
    		font-weight: 400;
		}
		.booking-list .facility-price{
			font-size: 22px;
			font-weight: 500;
		}
		.booking-list .facility-guest, .view-more{
			font-size: 13px;
		}
	/* --------- Page Booking List End---------*/


	/* --------- Page Login & Register Start---------*/
	section.login .card{
		border: 1px solid #e5e5e5;
		box-shadow: 0 5px 9px rgba(0,0,0,0.058);
	}
	section.login .card-header{
		background-color: white;
		color: #333;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
	}
	section.login .card-body{
		color: #868686;
		font-weight: 300;
		font-size: 13px;
	}
	.select-customer-category{
		height: 40px;
	    background: white;
	    border: 1px solid #ced4da;
	}

	/* --------- Page Login & Register End---------*/

	/* --------- Page Booking Order Start---------*/

	.booking-order .form-group label{
		font-size: 13px;
		font-weight: 500;
		color: #616161;
		margin-bottom: .3rem;
	}
	.booking-order .form-control{
		border-radius: 0px;
		font-size: 12px;
		color: grey;
	}
	.booking-order table{
		font-size: 13px;
	}
	.booking-order .table-bordered td, .booking-order .table-bordered th {
	    border: 1px solid #efefef;
	}
	.booking-order .btn{
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 2px;
	}
	.table-order thead, .table-order thead th{
		background-color: #eee;
	}
	.booking-detail .box, .booking-detail .box p{
		color: #171c24;
	}
	.booking-detail h5{
		text-transform: uppercase;
		font-size: 16px;
	}
	.payment-method .payment-ins{
		font-size: 14px;
	    font-weight: 500;
	    color: #616161;
	    margin-bottom: .3rem;
	    margin-top: .5rem;
	}
	.payment-method label, .booking-detail p{
		font-size: 13px;
		margin-bottom: 0px;
	}
	.payment-method{
		margin-bottom: .3rem;
	}
	.info-booking {
	    line-height: 1.5;
	    font-weight: 300;
	    margin-top: 7px;
	    font-size: 12px;
	    color: #bbbaba;
	}
	.booking-price {
		text-align: right;
	    vertical-align: top;	
	}
	.box{
		border: 1px solid #eee;
		padding: 20px;
	}

	/* --------- Page Booking Order Start---------*/
		.well{
			padding: 30px;
		    background-color: rgba(0,0,0,.02);
		    box-shadow: 1px 1px 3px 0 rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.07), inset 0 0 0 1px rgba(0,0,0,.05);
		    font-weight: lighter;
		}
		.well ul {
			padding-left: 0px;
			list-style-position: inside;
		}
		.well ul li{
			font-size: 14px;
			padding-bottom: 0.4rem;
			color: #73736b;
		}
	} 

/* ****** Footer Start ****** */
footer{

	border-top: 2px solid #eee;
	background: rgba(226, 226, 226, 0);
}
footer section, footer .section{
	padding: 50px 0px 5px 0px;
}
footer .sub-title{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 400;
    color: #31312c;
    margin-bottom: 28px;
}
footer .content{
	font-size: 14px;
	color: #8a8a8a;
	line-height: 1.8;
}
footer .social{
	float: none;
    clear: both;
    margin: 10px 0 0;
    overflow: hidden;
}
footer .social a{
	border-radius: 8px;
    padding: 8px;
    margin-right: 7px;
    padding-right: 0;
    display: inline-block;
    color: #6f6f6f;
    font-size: 18px;
    transition: .3s all;
    opacity: 0.95;
}
footer .footbot{
	margin: 0 auto;
    position: relative;
    
    padding: 26px 0 18px;
    text-align: right;
    color: #5b5b5b;
}
footer .footbot .container{
	border-top: 1px solid #e8e3df;
    padding-top: 20px;
}
footer .footbot .footer-navi{
    float: left;
    line-height: 38px;
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 400;
}
footer .footbot .footer-navi.floatright {
    float: right;
}
#mc_embed_signup_scroll .form-control{
		font-size: 13px;
	}

/* ****** Footer End ****** */

	/* ----------- Extra small devices (phones, 600px and down) ----------- */
	@media only screen and (min-width: 600px) {

	}

	/* ----------- Medium devices (landscape tablets, 768px and up) ----------- */
	@media only screen and (max-width: 768px) {
		body{
			font-size: 0.9rem;
		}
		p{
			font-size: 14px;
		}
		.navbar-nav.mr-auto{
			margin-top: 10px;
		}
		.nav-item{
			/*border-bottom: 1px solid #ddd;*/
    		border-top: 1px solid #ddd;
    		font-weight: 400;
		}
		.navbar-nav.ml-auto.pull-right{
			margin-bottom: 10px;
		}
		.ioc-navbar .navbar-nav a.nav-link, .ioc-navbar .navbar-nav .dropdown-item{
    		font-weight: 400;		
		}
		section, .section{
			padding: 30px 0px;
		}
		section.title-section{
			padding: 18px;
		}
		section.title-section .title {
		    font-size: 25px;
		    margin-bottom: 0px;
		}
		section .title-plus-text .sub-title{
			margin-bottom: 6px;
			font-size: 22px;
		}
		section .title-plus-text .title{
			font-size: 36px;
		}


		.title span.accent-color{
			margin-left: 2px;
		}
		section .title-plus-text p {
		    font-size: 14px;
		    margin-bottom: 5px;
		}
		.col-6.col-md-3.px-less{ /* Booking Form*/
			margin-bottom: 10px;
		}
		.mt-5{
			margin-top: 1rem!important;
		}
		.my-5 {
		    margin-bottom: 1rem!important;
			margin-top: 1rem!important;
		}
		.check-booking input, .check-booking select, .check-booking span.select2-container, .check-booking span.select2-container .select2-selection--single {
		    font-size: 11px;
		    height: 36px !important;
		}
		.check-booking .select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height: 36px;
		}
		.btn-cek-ketersediaan{
			margin-top: 20px;
		}
		.btn.btn-big {
		    font-size: 13px;
		    padding: 12px 22px 12px;
		}
		.value .icon-box .title{
			font-size: 22px;
		    margin-top: 13px;
		    margin-bottom: 5px;
		}
		.tc-content {
		    font-size: 16px;
		    padding: 25px 25px 34px 25px
		}
		.tc-col{
			margin-bottom: 20px;
		}
		.facility-list .col-facility{
			margin-top: 25px;
		}
		.facility-list .col-facility .content{
			margin-bottom: 0px;
		}
		h1.post-title{
			margin-top: 0px;
			margin-bottom: 5px;
			font-size: 20px;
		}
		.facility-content{
			margin-top: 20px;
		}
		.facility-content .facility-description, .facility-content .facility-description * {
		    font-size: 14px !important;
		}
		.booking-list .content{
			margin-top: 10px;
		}
		.booking-list .facility-name {
		    font-size: 21px;
		    font-weight: 600;
		}
		.booking-list .facility-price {
		    font-size: 17px;
		}
		.booking-list .facility-guest, .booking-list .view-more {
		    margin-bottom: 5px;
		}
		.booking-list .view-more{
			text-decoration: underline;
		}
		.booking-detail{
			margin-top: 30px;
		}
		.booking-order .selanjutnya{
			margin-top: 15px;
		}
		.edu-title {
		    font-size: 24px;
		    padding-top: 21px;
		}
		footer .footbot .footer-navi, footer .footbot .footer-navi.floatright{
			float: unset;
			line-height: 24px;
		}

	} 

	/* ----------- Large devices (laptops/desktops, 992px and up) ----------- */
	@media only screen and (min-width: 992px) {
		/* Navbar Start */
		.ioc-navbar .navbar-nav a.nav-link{
		    padding-right: 1rem;
		    padding-left: 1rem;
		}
		/* Navbar End */
	} 

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	
	@media only screen and (min-width: 1281px){
		.container {
		    max-width: 1246px;
		    padding-left: 15px;
		    padding-right: 15px;
		}
	}

	/********* Activities ********/
	.activities .card-title{
		font-weight: 500;
	}
	.activities .card-text{
		font-size: 13px;
		text-align: justify;
	}

/* ****** Layout End ****** */

